/*body {
	padding: 100px;
}*/
nav {
	margin-bottom: 100px;
}
a {
	cursor: pointer;
	text-decoration: none;
}
.word:hover {
	background-color: #fce792;
}
.expression:hover {
	background-color: #acf059;
}
.wordd:hover {
	background-color: #fce792;
}
.expressionn:hover {
	background-color: #acf059;
}
.b {
	border: 1px solid black;
	border-radius: 5px;
}
.yellow {
	background-color: #fce792;
}
.green {
	background-color: #acf059;
}
